@model Cinema12.Models.TestingModule

@{
    ViewBag.Title = "TestModule";
}

<h2>Test Module</h2>

@Html.Partial("Partial/_TestModulePartial")

@Html.ActionLink("Back to Movies", "MovieList", "IsolationModule")


